@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Amaranth", sans-serif;
}

.bg-myblue {
  background-color: blue;
}

.Title {
  color: red;
}

.bg-myorange {
  background-color: orange;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa {
  width: 10px;
  padding: 15px;
  padding-top: 10px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  color: white;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
}

.fa-twitter {
  background: #55acee;
}

.fa-instagram {
  background: #8a3ab9;
}

.fa-youtube {
  background: #bb0000;
}

/* .special-card-header {
  color: pink;
  background-color: wheat;
} */

/* ABOUT CSS */

.About-Card {
  border: none;
}

.About-Row {
  margin: 20px;
}

.About-Card-Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.About-Card-Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.About-list-group-item {
  /* display: list-item; */
  border: none;

  /* list-style-type: none; */
}

.About-Green-Row {
  background-color: rgb(75, 193, 118);
  border-radius: 15px;
  color: white;
  /* border-color: rgb(199, 85, 47);
  border-bottom: 3px solid rgb(199, 85, 47); */
}

/* CAREER CSS */
.Career-card-column {
  margin-left: 30px;
}

.Career-card-a {
  border: none;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 40px;
}

.Career-card-title-a {
  font-size: 45px;
  font-weight: 700;
  color: #2e224c;
  margin-bottom: 20px;
}

.Career-card-text {
  font-size: medium;
}

.Career-card-header {
  background-color: white;
  color: rgb(250, 100, 46);
  width: fit-content;
  font-weight: 700;
}

.Career-card-header-a {
  border: 2px solid rgb(250, 100, 46);
  margin: auto;
  margin-bottom: 25px;
}

.Career-card-b {
  margin-bottom: 30px;
}

.Career-card-header-b {
  border: none;
  padding: 0;
  margin-bottom: 25px;
  margin-top: 15px;
}

.Career-card-title-b {
  font-weight: 700;
  color: #2e224c;
  margin-bottom: 20px;
}

.Career-card-text-b {
  margin-bottom: 30px;
  width: 80%;
}

.Career-button {
  width: 80%;
  height: 50px;
  background-color: rgb(250, 100, 46);
  border-radius: 30px;
  border-color: rgb(199, 85, 47);
  border-bottom: 3px solid rgb(199, 85, 47);
  font-weight: 700;
  margin-bottom: 20px;
}

.Career-form {
  background-color: rgb(250, 100, 46);
  border: 2px solid rgb(199, 85, 47);
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.Career-form-label {
  font-weight: 700;
  margin: 30px 0 25px;
  color: white;
}

.Career-form-control {
  padding: 10px;
  margin: auto auto 10px auto;
  width: 90%;
}

.Career-form-button {
  width: 90%;
  background-color: rgb(1, 184, 145);
  border-color: rgb(26, 100, 84);
  border-bottom: 3px solid rgb(26, 100, 84);
  height: 50px;
  margin-bottom: 20px;
}

.Career-row-d {
  margin-top: 50px;
}

.Career-card-d {
  border: none;
  text-align: right;
}

.Career-card-header-d {
  border: 2px solid rgb(250, 100, 46);
  margin-left: auto;
  margin-bottom: 25px;
}

.Career-card-text-d {
  font-size: x-large;
  width: 90%;
  margin-left: auto;
  color: #2e224c;
  font-weight: 700;
}

.Career-card-e {
  width: 90%;
  border: none;
  margin-top: 10px;
}

.Career-row-c {
  width: 95%;
  margin: auto;
  margin-top: 30px;
}

.Career-card-c {
  margin: auto;
  padding: 10px;
}

.Career-card-title-c {
  font-weight: 700;
  color: #2e224c;
}

.Career-icon-background {
  background-color: rgb(250, 100, 46);
  margin-left: 10px;
  text-align: center;
}

.Career-icons {
  margin-top: 18px;
  font-size: 44px;
}

/* CAREER DETAIL CSS */
.CareerDetail-card-header {
  background-color: rgb(250, 100, 46);
  color: white;
  text-align: center;
}

.CareerDetail-list-group-item {
  /* display: list-item; */
  border: none;

  /* list-style-type: none; */
}

.CareerDetail-beige-background-card {
  background-color: #f8f8f8;
  margin-bottom: 30px;
}

.CareerDetail-accordion-item {
  margin: 25px;
}

.CareerDetail-span {
  color: rgb(250, 100, 46);
  font-size: 20px;
  margin-right: 20px;
}

.CareerDetail-fa {
  width: 70px;
  padding: 15px;
  padding-top: 10px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  color: white;
  border-radius: 50%;
  background-color: rgb(250, 100, 46);
}

.CareerDetial-Card-Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.CareerDetail-Button {
  width: 150px;
  height: 50px;
  background-color: rgb(250, 100, 46);
  border-radius: 30px;
  border-color: rgb(199, 85, 47);
  border-bottom: 3px solid rgb(199, 85, 47);
}

.CareerDetail-Card {
  /* border: none; */
}

.CareerDetail-Column {
  margin-left: 15px;
  margin-right: 15px;
}

.CareerDetial-Right-Row {
  background-color: rgb(250, 100, 46);
  padding: 30px;
}

.CareerDetail-Right-Colum {
  background-color: rgb(250, 100, 46);
  color: white;
  align-items: center;
  text-align: center;
}

/* CLASS DETAIL CSS */
.ClassDetail-h2 {
  color: #220d38;
}

.ClassDetail-h3 {
  color: #220d38;
}
.ClassDetail-container {
  max-width: 80vw;
  min-width: auto;
}
.ClassDetail-teacher-card-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 250px;
  background-color: #03b991;
  color: whitesmoke;
  border-radius: 20px;
  margin-top: 30px;
}
.ClassDetail-teacher-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ClassDetail-teacher-img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-top: -35px;
}
.ClassDetail-teacher-card-text {
  text-align: center;
  margin-top: 25px;
}
.ClassDetail-information-card-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 250px;
  background-color: #fff;
  color: #220d38;
  border-radius: 20px;
}
.classDetail-information-button {
  background-color: rgb(250, 100, 46);
  color: #fff;
  padding: 4px 50px;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}
.classDetail-information-paragraph {
  font-size: 10px;
  font-weight: 600;
}
.classDetail-information-title {
  color: rgb(250, 100, 46);
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 10px;
}
.classDetail-information-item {
  color: #220d38;
  font-weight: 800;
  font-size: 14px;
  margin-top: -8px;
}
.classDetail-Description-image {
  width: 450px;
  height: 300px;
  border-radius: 25px;
}
.classDetail-Activities-gallery-photo {
  height: 110px;
  width: auto;
  border-radius: 20px;
  margin-right: 6px;
}

/* CLASSES CSS */

.Classes-Col {
  display: flex;
  justify-content: center;
}

.Classes-Card {
  width: 380px;
  height: 500px;
  border-radius: 5%;
  padding: 2%;
  /* display:flex;
  justify-content: center;
  flex-wrap: wrap; */
}

.Classes-Card-Body {
  color: white;
  text-align: center;
}

.Classes-Card-Img {
  width: 360px;
  height: 280px;
  border-radius: 8%;
  border: 3px solid white;
}

.Classes-Card-Col {
  border-right: 1px solid rgba(255, 255, 255, 0.42);
}
.Classes-Col-Form {
  display: flex;
  justify-content: center;
}
.Classes-Form {
  width: 450px;
  height: 500px;
  color: white;
  border-radius: 8%;
  background-color: rgb(254, 93, 55);
  padding: 30px;
  text-align: center;
}

.mb-3 {
  margin-top: 1rem;
}

.Classes-Form-Button {
  background-color: rgb(4, 185, 146);
  border-color: rgb(4, 162, 128);
  border-bottom: 3px solid rgb(5, 145, 115);
}

.Classes-Row-1 {
  margin-top: 30px;
}

.Classes-Row-2 {
  margin-top: 30px;
}

.Classes-Row-3 {
  margin: 60px;
}

/* CONTACT CSS */

.Contact-leftCol {
  align-items: center;
}

.Contact-contactHeader {
  margin-top: 1rem;
  border: none;
}

.Contact-contactHeader span {
  color: #2d1f4c;
  
}

.Contact-locationBadge {
  width: 69%;
  margin: auto;
  height: auto;
  color: white;
  background-color: rgb(250, 100, 46) !important;
}

.Contact-addressBadge {
  width: 69%;
  margin: auto;
  height: auto;
  color: white;
  background-color: #05b992 !important;
}

.Contact-phoneBadge {
  width: 69%;
  margin: auto;
  height: auto;
  color: white;
  background-color: #ebaa0f !important;
}

.Contact-formCard {
  margin: auto;
  padding: 1rem;
}

/* EVENTS CSS */

.nounderline {
  text-decoration: none !important;
}

/* FACILITIES CSS */

/* FOOTER CSS */
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* FREQUENT QUESTIONS CSS */

/* HEADER CSS */

.svg {
  width: 100px;
  height: 25px;
}

.svg-footer {
  width: 150px;
  height: 50px;
}

.header {
  position: fixed;
}

/* HOME CSS */

.Home-Card-Col {
  display: flex;
  justify-content: center;
}

.Classes-List-Group-Item{
  border: none;
}
/* TEAM CSS */

/* HEAD CSS */
.Head-Container {
  background-image: url("./img/backImage.png");
  height: 500px;
  background-size: cover;
  padding: 150px;
  text-align: center;
  color: white;
}

.Head-H1 {
  font-size: 50px;
  font-weight: 900;
}